
<div class="grid mx-2">
    <div class="card col-12">
        <div class="grid formgrid">
            <div class="col-12">
                <h2>เลือกหน่วยบริการ</h2>
            </div>
            <div class="col-12" *ngFor="let item of listHospitals;index as i">
                <div class="field-checkbox">
                    <p-checkbox 
                        name="group1"
                        [value]="item.hospital_id" 
                        [id]="item.hospital_id"
                        (onChange)="getHospital($event,item.hospital_id)">
                    </p-checkbox>
                    <label for="'checkbox_' + item.id">{{item.hospital_name}}</label>
                </div>
            </div>
        </div><br>
        <div class="card-footer flex justify-content-between">
            <button pButton type="button" label="เลือก" class="p-button-success mx-2" (click)="calendar()"></button>
            <button pButton type="button" label="กลับ" class="p-button-danger mx-2" (click)="activities()"></button>
        </div>
    </div>

</div>